.container {
  max-width: 720px;
  padding: 0 16px;
  margin: 32px auto 48px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 100px;
  height: 100px;
}

.headerHomeImage {
  width: 150px;
  height: 150px;
}

.backToHome {
  margin: 32px 0 0;
  color: #009688;
  cursor: pointer;
}

.select {
  border: 1px solid #009688;
  border-radius: 4px;
  margin-left: 8px;
  height: 40px;
}